rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth.uid != null;
    }

    // Match any document in the 'cities' collection
    match /empresas/{empresa} {
      allow read: if true;

      match /quadros/{quadro} {
        allow read: if signedIn();
      }

      match /usuarios/{usuario} {
        allow read: if signedIn();
      }

      match /credenciais/{credencial} {
        allow read: if signedIn();
      }

    }
  }
}